body {
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    139deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 212, 255, 0.515919746804972) 100%
  );
}

.water-drinking-container {
  width: 479px;
  /* height: 600px; */
  border: 1px solid black;
  background-color: white;
  border-radius: 20px;
  box-shadow: 11px 12px 76px -21px rgba(0, 35, 41, 0.52);
}

.weight-input-container {
  width: 479px;
  /* height: 150px; */
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.water-result {
  width: 479px;
  height: 280px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .water-amount {
  display: flex;
} */

/* .bottle {
  width: 150px;
  height: 160px;
  border: 2px solid black;
}

.glass {
  width: 150px;
  height: 160px;
  border: 2px solid black;
}

.cup {
  width: 150px;
  height: 160px;
  border: 2px solid black;
} */

.water-amount-div {
  width: 159px;
  height: 160px;
  border: 1px solid gray;
}

.image-div {
  height: 100px;
  width: 150px;
}

.image {
  height: 30px;
  width: 30px;
}

.amount-number {
  font-size: 22px;
}

/* .amount-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

input {
  height: 25px;
  width: 80px;
  font-family: "Bebas Neue", sans-serif;
  border-color: #cccccc;
  text-align: center;
  padding: 10px;
  font-size: 25px;
  border-width: 1px;
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 0px 0px 15px 0px rgba(42, 42, 42, 0.4);
  text-decoration: none;
  cursor: pointer;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: none;
  box-shadow: 0px 0px 15px 0px rgba(131, 186, 237, 0.473);
}

.result {
  font-size: 40px;
}

/* .result:hover {
  transition: 500ms;
  font-size: 75px;
} */

button {
  /* font-family: Roboto, sans-serif; */
  width: 160px;
  height: 50px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  background-color: #35b3e7;
  color: #ffff;
  /* font-weight: 100; */
  /* font-size: 20px; */
  /* color: #fff; */
  /* background: linear-gradient(174deg, #00d4ff 0%, #1140edd3 100%); */
  /* padding: 10px 30px;
  border: none;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 20px;
  transition: 375ms;
  transform: translateY(0); */
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  margin: 10px;
  border-radius: 50px;
}

button:hover {
  transition: 500ms;
  background-color: #72caef;
  /* width: 180px; */
  /* transform: translateY(-0px); */
  /* background: linear-gradient(174deg, #00d4ff 0%, #1140edd3 100%);
  color: #ffffff; */
  /* border: solid 2px #0066cc; */
}

/* .water-wave-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.water-wave {
  width: 250px;
  height: 250px;
  background: #35b3e7;
  border-radius: 50%;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.8), 0 0 10px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.water-wave:after,
.water-wave:before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: 50%;
  background: #ffff;
}

.water-wave:after {
  border-radius: 45%;
  animation: water-wave 5s linear infinite;
}

.water-wave:before {
  border-radius: 35%;
  background: rgba(255, 255, 255, 0.3);
  animation: water-wave 5s linear infinite;
}

@keyframes water-wave {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    top: -30%;
  }
  50% {
    top: -50%;
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    top: -30%;
  }
} */

.result {
  position: relative;
  z-index: 1;
  font-size: 70px;
}

@media only screen and (max-width: 479px) {
  .water-drinking-container {
    width: 100vw;
    height: 750px;
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
    box-shadow: 11px 12px 76px -21px rgba(0, 35, 41, 0.52);
  }

  .water-amount-div {
    width: 100vw;
    display: flex;
    height: 100px;
  }
}

@media only screen and (min-width: 479px) {
  .water-amount {
    display: flex;
  }

  .water-wave-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  .water-wave {
    width: 250px;
    height: 250px;
    background: #35b3e7;
    border-radius: 50%;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.8),
      0 0 10px 0 rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .water-wave:after,
  .water-wave:before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: 50%;
    background: #ffff;
  }

  .water-wave:after {
    border-radius: 45%;
    animation: water-wave 5s linear infinite;
  }

  .water-wave:before {
    border-radius: 35%;
    background: rgba(255, 255, 255, 0.3);
    animation: water-wave 5s linear infinite;
  }

  @keyframes water-wave {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
      top: -30%;
    }
    50% {
      top: -50%;
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
      top: -30%;
    }
  }

  .amount-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .image-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.input-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  width: 140px;
}

.input-label {
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 5px;
}
